<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <title>Список книг</title>
</head>
<body>

<div id="app" class="container-fluid">
    <nav class="">
        <!--<form class="form-inline">-->
            <div class="btnGroup">
                <button type='button' class="btn btn-primary">Добавить</button>
                <button type='button' class="btn btn-primary">Обновить</button>
            </div>
            <form class="search form-inline" role="search">
                <span class="">
                    <!--<i class="fas fa-search"></i>-->
                </span>
                <input type="search" placeholder="Событие, дата и участники" class="form-control">
            </form>
        <!--</form>-->
    </nav>
    <!--<button v-on:click="dateTodayFun">Июль</button>-->
    <!--<paginator-month></paginator-month>-->
    <calendar-tab></calendar-tab>
    <!--<form-event-component></form-event-component>-->
    <div class="footer">

    </div>
</div>
</body>

</html>